@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
/*-------------------------    Classes fot timer              ---------------------------------------------------*/
.n0 {
  background-image: url(../numbers1/0.png);
  background-size: contain;
  background-position: center center;
}

.n1 {
  background-image: url(../numbers1/1.png);
  background-size: contain;
  background-position: center; }

.n2 {
  background-image: url(../numbers1/2.png);
  background-size: contain;
  background-position: center; }

.n3 {
  background-image: url(../numbers1/3.png);
  background-size: contain;
  background-position: center; }

.n4 {
  background-image: url(../numbers1/4.png);
  background-size: contain;
  background-position: center; }

.n5 {
  background-image: url(../numbers1/5.png);
  background-size: contain;
  background-position: center; }

.n6 {
  background-image: url(../numbers1/6.png);
  background-size: contain;
  background-position: center; }

.n7 {
  background-image: url(../numbers1/7.png);
  background-size: contain;
  background-position: center; }

.n8 {
  background-image: url(../numbers1/8.png);
  background-size: contain;
  background-position: center;
}

.n9 {
  background-image: url(../numbers1/9.png);
  background-size: contain;
  background-position: center; }

.timer_block {
  height: 72px;
  width: 73px;
  background-repeat: no-repeat;
  background-size: 80%; }

.timer_width {
  width: 60%;
  margin: 0 auto; }

.padd_L {
  padding-left: 0; }

.padd_R {
  padding-right: 0; }

/*------------------       vars--------------------------*/
html,
body,
.fullHeight {
  height: 100%;
  position: relative; }

.fill {
  height: 100%; }

.row_main {
  position: relative; }

.timer_row {
  margin: auto; }

body > .container-fluid {
  padding: 0;
  overflow: hidden;
}

#timer {
  position:  absolute;
  bottom: 0;
    left: 0;
    right: 0;
 }
.arc_main >.container{
    height: 40px;
}
.timer_label_width {
  width: 51%;
  margin: 0 auto; }

.timer_label {
  text-align: center;
  line-height: 40px;
  font-size: 1.29em;
  font-family: 'Playfair Display';
  font-weight: bold;
  color: #f1d3a9;
  text-transform: uppercase; }

/*----------------------tweet--------------------------*/
.tweet {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 7px;
  z-index: 400;
  position: absolute;
  right: 20px;
  border: 2px solid transparent;
  border-radius: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-decoration: none; }

svg.twitter {
  display: block;
  position: relative;
  margin: -15px auto 0;
  top: 50%; }

.tweet:hover,
.tweet:active,
.tweet:focus {
  text-decoration: none;
  outline: none; }

.tweet:hover {
  -webkit-transform: rotate(-360deg) scale(1.1);
  transform: rotate(-360deg) scale(1.1);
  border: 2px solid #00aced;
  border-radius: 100%;
  background-color: white; }

.tweet:hover path {
  fill: #00aced; }

/*-----------------logo--------------*/
.card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 12px;
  z-index: 400; }

.back,
.front {
  position: absolute;
  width: 142px;
  height: 55px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.back {
  background-image: url(../img/fuse-logos_blue_white.png);
  background-repeat: no-repeat;
  background-size: contain; }

.front {
  /*background-image: url('../img/fuse-logos_blue_gray.png');*/
  background-image: url(../img/fuse-logos_blue_white_reverse.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  height: 40px; }

.card:hover .back {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg); }

.card:hover .front {
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
  transform: rotate3d(0, 1, 0, 0deg); }

.backface .back,
.backface .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.navbar {
  min-height: 65px ;
  position: absolute;
  border-top: 2px solid #0d1116;
  bottom: 0;
  left: 0;
  right: 0; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

/*---------------------- Main styles  ---------------------------*/
body {
  overflow: hidden;
  background-color: black; }

.wood_back {
  height: 21%;
  background: url("../Table/Wooden_tile_tex (Wall).jpg") repeat-x;
  background-size: 40%; }

.main_table {
  height: 49%;
  background: url("../Table/Lights on.png") no-repeat;
  background-position: center bottom;
  background-size: cover; }

.arc_main {
  height: 27%;
  width: 100%;
  background: url("../Table/Volume.png") no-repeat;
  background-position: center top;
  background-size: contain; }

form {
  margin: auto; }

.padd-left {
  padding-left: 5px; }

.padd-right {
  padding-right: 5px; }

input[type=submit] {
  background-color: #ff703f;
  text-transform: uppercase;
  width: 100%;
  height: 38px;
  border-radius: 0;
  color: black;
  padding: 0;
  border: 1px solid #ff703f;
  font-family: 'Playfair Display'; }

::-webkit-input-placeholder {
  color: black; }

::-moz-placeholder {
  color: black; }

/* Firefox 19+ */
:-moz-placeholder {
  color: black; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: black; }

.email {
  width: 100%;
  height: 38px;
  color: black;
  font-family: 'Playfair Display';
  padding-left: 5px; }

.info {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 2.571em;
  color: #f1d3a9;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center; }

.arc_wrapper {
  height: 130px;
  position: absolute;
  bottom: 0; }

.place {
  z-index: 5; }

ul.num {
  list-style: none;
  padding: 0; }
  ul.num li {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100px; }

.hide {
  display: none; }

.pare p {
  font-family: 'Playfair Display';
  font-weight: bold;
  color: #f1d3a9;
  font-size: 1.2em;
  margin-top: 65px;
  text-transform: uppercase;
  text-align: center; }
.pare ul:last-of-type li {
  padding-right: 20px; }

.main_wrapper {
  position: absolute;
  bottom: -40px; }

.main_table {
  position: relative; }
/*---------------------  TableItem Class  -------------------------------*/
.itemholder{position:relative;width:100%;}
.tableItem{position:absolute;}
.book{
    top: 0;
    left: 28%;
      background-image:url(../Items/Book.png);
      width:209px;
      height:134px;
}
.cards{
    top: 77px;
    left: 38%;
      background-image:url(../Items/Cards.png);
      width:313px;
      height:141px;
}
.cigar{
    top: 3px;
    left: 47%;
      background-image:url(../Items/Cigar.png);
      width:153px;
      height:90px;
}
.cowboy{
    top: -130px;
    left: -1%;
      background-image:url(../Items/Cowboy.png);
      width:404px;
      height:536px;
}
.cup{
    top: -64px;
    right: -5%;
    z-index: 5;
      background-image:url(../Items/Cup.png);
      width:344px;
      height:258px;
}
.flask{
    top: -114px;
    right: 0;
      background-image:url(../Items/Flask.png);
      width:341px;
      height:315px;
}
.lamp{
    top: -465px;
    right: 22%;
      background-image:url(../Items/Lamp.png);
      width:272px;
      height:615px;

}
.spoon{
    top: 85px;
    right: 8%;
      background-image:url(../Items/Spoon.png);
      width:255px;
      height:153px;
}
/*---------------------  Media query  -------------------------------*/
@media only screen and (min-width: 320px) {
  .wood_back {
    height: 37%;
    background-size: 40%; }

  .main_table {
    height: 25%;
    background-size: cover; }

  form {
    width: 100%; }

  .email {
    font-size: 0.9em; }

  .timer_width, .timer_label_width {
    width: 90%; }

  .info {
    font-size: 1.5em; }

  .timer_block {
    background-size: 35%;
    height: 40px;
}

  .day {
    margin-left: -26px; }

  .timer_label {
    font-size: 0.8em; }
    .arc_main >.container{
        height: 12px;
    }
    .timer_label{
        line-height: 12px;
        font-size: 0.714em;
    }

    .padd_L{
        padding-left: 7px;
    }

  #timer {
    /*bottom: -60%; */
}

.book{display:none;}
    .cards {
        top:-20px;
        left: 50%;
        display: block;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
    }
.cigar{display:none;}
.cowboy{display:none;}
.cup{display:none;}
.flask{display:none;}
.lamp{display:none;}
.spoon{display:none;}
}


@media (min-width: 450px) {
  form {
    width: 60%; }

  .info {
    font-size: 2em; }

  .email {
    font-size: 0.9em; }

  #timer {
    /*bottom: -70%; */
}

  .day {
    margin-left: -15px; }
    .cards {
        top:-15px;
        background-size: 80%;
    }
}
/* Nexus 7          */
@media (min-width: 500px){
    .timer_width,.timer_label_width{
        width: 65%;
    }
    #timer{
        /*bottom: -63%;*/
    }
    .timer_block{
        background-size: 44%;
    }
    .arc_main >.container{
        height: 16px;
    }
    .timer_label{
        line-height: 16px;
    }
}
/* Extra Small Devices, Phones */
@media (min-width: 768px)  {
  .main_table {
    height: 35%; }

  .wood_back {
    height: 27%; }

  .arc_main {
    height: 27%; }
  .arc_main >.container{
      height: 30px;
  }

  .timer_width,
  .timer_label_width {
    width:70%; }

  .timer_label {
    font-size: 1.2em;
    line-height: 30px;
 }
  form {
    width: 50%; }

  .info {
    font-size: 2.571em; }

  .email {
    font-size: 1.2em; }

  .timer_block {
    background-size: 55%;
    height: 50px;
 }

  
    .padd_L{
        padding: 0;
    }
  .day {
    margin-left: auto; }
    .timer_block{
        background-size: 53%;
    }


.book{display:block;
    top: 0;
    left: 4%;
}
    .cards {
        top: 102px;
        left: 42%;
        display: block;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
.cigar{
    display:block;
    top: -22px;
    left: 33%;}
.cowboy{display:none;}
.cup{display:none;}
.flask{
    display:block;
    top: -114px;
    right: -24%;
}
.lamp{
    display:block;
    top: -491px;
    right: 12%;
}
.spoon{display:block;
       top: 73px;
       right: -7%;
}
}





@media (min-width: 992px) {
  .wood_back {
    height: 21%;
    background-size: 40%; }

  .main_table {
    height: 42%; }

  .arc_main {
    height: 27%;
    width: 100%;
    background-position: center top;
    background-size: contain; }

  form {
    width: 35%; }

  .timer_width,
  .timer_label_width {
    width: 68%; }
    .timer_block{
        background-size: 70%;
    }
    .arc_main >.container{
        height: 42px;
    }
    .timer_label{
        line-height: 42px;
    }
}



@media (min-width: 1200px) {
  .timer_width,
  .timer_label_width {
    width: 50%; }

  .timer_label {
    font-size: 1.29em; }
    .timer_block{
        background-size: 75%;
        height: 60px;
    }

.book{
    top: 0;
    left: 28%;
}
.cards{
        top: 77px;
        left: 50%;
        display: block;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
}
.cigar{
    top: 3px;
    left: 47%;
}
.cowboy{
    top: -130px;
    left: -1%;
    display:block
}
.cup{
    top: -64px;
    right: -5%;
    z-index: 5;
    display:block
}
.flask{
    top: -114px;
    right: 0;
}
.lamp{
    top: -465px;
    right: 22%;

}
.spoon{
    top: 85px;
    right: 8%;
}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 767px)  and (orientation: landscape) {
      .wood_back{
          height: 25%;
      }
      .main_table{
          height: 35%;
          background-size: 120% 100%;
      }
      .cards{
          background-size: 50%;
          top:-27px;
      }
      .info{
          font-size: 1.2em;
          margin-bottom: 5px;
      }
      .email{
          height: 20px;
          font-size: 0.7em;
      }
      input[type="submit"]{
          height: 20px;
          font-size: 0.7em;
      }
      .back,.front{
          background-size: 70%;
      }
      .twitter{
          height: 15px;
      }
      .tweet{
          height: 40px;
          width: 40px;
      }
      .navbar-fixed-bottom{
          /*border: none;*/
          min-height: 50px;
      }
      svg.twitter {
        display: block;
        position: relative;
        margin: -8px auto 0;
        top: 50%;
        height: 17px;
    }


      .tweet:hover {
        -webkit-transform: rotate(-360deg) scale(1);
        transform: rotate(-360deg) scale(1);
        border: 1px solid #00aced;
        border-radius: 100%;
        background-color: white; }
        form{
            width: 50%;
        }
        .timer_width,.timer_label_width{
            width: 50%;
        }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */
    .cards{
        display: none;
    }
    .spoon{
        top:50px;
        right: -6%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait)
{
   .wood_back{
       height: 20%;
   }
   .cards{
       background-size: 45%;
       top:-30px;
   }
}