@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
body {
  background: url(../img/bg-2.png) no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background-position: 95% 64%;
  background-color: #2d292a;
  height: 100%; }

html, body, .fullHeight {
  height: 100%;
  position: relative; }

.wrapper {
  position: absolute;
  bottom: 13%;
  margin-bottom: 0;
  height: 270px; }

.place {
  z-index: 5;
  width: 100%;
  height: 125px; }

ul.num {
  list-style: none;
  padding: 0; }
  ul.num li {
    display: inline-block;
    position: absolute;
    width: 36px; }

.hide {
  display: none; }

.pare {
  margin-right: 40px; }
  .pare p {
    font-family: 'Playfair Display';
    font-weight: bold;
    color: #f1d3a9;
    font-size: 1.2em;
    margin-top: 43%;
    padding-left: 30%;
    text-transform: uppercase; }

.info {
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 2.4em;
  color: #f1d3a9;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 10px; }

.form_container {
  height: 50px; }

.form {
  width: 445px;
  margin: auto;
  height: 50px; }

input[type=submit] {
  background-color: #ff703f;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #ff703f;
  padding: 0;
  font-family: 'Playfair Display'; }

.email {
  width: 100%;
  height: 50px;
  font-family: 'Playfair Display';
  font-size: 1.2em;
  padding-left: 5px; }

/*----------------------tweet--------------------------*/
.tweet {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 7px;
  z-index: 400;
  position: absolute;
  right: 3px;
  border: 2px solid transparent;
  border-radius: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-decoration: none; }

svg.twitter {
  display: block;
  position: relative;
  margin: -15px auto 0 auto;
  top: 50%; }

.tweet:hover, .tweet:active, .tweet:focus {
  text-decoration: none;
  outline: none; }

.tweet:hover {
  -webkit-transform: rotate(-360deg) scale(1.1);
  transform: rotate(-360deg) scale(1.1);
  border: 2px solid #00aced;
  border-radius: 100%;
  background-color: white; }

.tweet:hover path {
  fill: #00aced; }

/*-----------------logo--------------*/
.card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  position: absolute;
  left: 3px;
  top: 12px;
  z-index: 400; }

.back, .front {
  position: absolute;
  width: 142px;
  height: 55px;
  -webkit-transition: all .8s;
  transition: all .8s; }

.back {
  background-image: url("../img/fuse-logos_blue_white.png");
  background-repeat: no-repeat;
  background-size: contain; }

.front {
  /*background-image: url('../img/fuse-logos_blue_gray.png');*/
  background-image: url("../img/fuse-logos_blue_white_reverse.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  height: 40px; }

.card:hover .back {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg); }

.card:hover .front {
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
  transform: rotate3d(0, 1, 0, 0deg); }

.backface .back, .backface .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.navbar {
  min-height: 65px !important;
  border-top: 2px solid #0d1116;
  bottom: 0;
  left: 0;
  right: 0; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

/*---------------------------Media query---------------*/
/*------------------All mob (iPhone)------------------------------*/
@media all and (max-width: 480px) {
  body {
    width: 100%;
    background-position: 60% 62%; }

  .wrapper {
    bottom: 8%;
    margin-bottom: 0px; }

  .place {
    height: 70px; }

  .first_num {
    margin-left: -8%; }

  .pare {
    margin-right: 35px; }
    .pare p {
      margin-top: 80%;
      font-size: 0.8em;
      margin-left: 7%;
      color: #eee;
      text-shadow: 0 0 5px #f1d3a9; }

  li img {
    -webkit-transform: scale(0.4);
    transform: scale(0.4); }

  .info {
    font-size: 1.3em;
    color: #eee;
    text-shadow: 0 0 2px #f1d3a9;
    line-height: 48px; }

  .form_container {
    height: 100px; }

  .form {
    width: 100%; }

  .email {
    text-align: center;
    padding: 0;
    margin: 0; }

  .eh {
    height: 50px; }

  input[type=submit] {
    margin-top: 5px; }

  .clear {
    width: 85px;
    margin: auto; }

  .col-md-6,
  .col-lg-6,
  .col-xs-6,
  .col-md-2,
  .col-lg-2,
  .col-xs-2 {
    padding: 0;
    padding-left: 0;
    padding-right: 0; } }
@media all and (min-width: 360px) and (max-width: 479px) {
  body {
    background-position: 65% 61%; }

  .wrapper {
    bottom: 58px; }

  .pare p {
    text-align: center;
    padding: 0; }

  .info {
    text-shadow: none;
    color: #f1d3a9; }

  .first_num {
    margin-left: -5%; } }
@media all and (min-width: 460px) and (max-width: 599px) {
  body {
    background-position: 70% 58%; }

  .wrapper {
    bottom: 100px; }

  .pare p {
    text-align: center; }

  img {
    -webkit-transform: scale(0.52) !important;
    transform: scale(0.52) !important; }

  .first_num {
    margin-left: -2%; }

  .info {
    font-size: 2em;
    text-shadow: none;
    margin-top: 40px;
    color: #f1d3a9;
    margin-bottom: 10px; } }
@media all and (min-width: 600px) and (max-width: 767px) {
  body {
    background-position: 60% 64%; }

  img {
    -webkit-transform: scale(0.55);
    transform: scale(0.55);
    margin-right: 20px; }

  .wrapper {
    bottom: 185px; }

  .pare p {
    margin-top: 100%; }

  .email {
    text-align: center; }

  input[type=submit] {
    width: 100%; }

  .clear {
    width: 85px;
    margin: auto; }

  .info {
    margin-bottom: 10px; } }
@media all and (min-width: 768px) and (max-width: 1350px) {
  body {
    background-position: 60% 47%; }

  .pare p {
    margin-top: 80%;
    padding-left: 15%; }

  img {
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }

  p.first_d {
    padding-left: 35px; }

  .first_num {
    margin-left: 3%; }

  .wrapper {
    bottom: 140px; } }

/*# sourceMappingURL=styles.css.map */
